body {
    background-color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #474544;
}

/* HEADER DIV ATTRIBUTES */
.header-fluid {
  background-color: white;
  width: 100%;
  margin-bottom: 50px;
  text-align: right;
  border-bottom: solid 1px grey;
}

/* CONTAINER DIV ATTRIBUTES */
#container {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

/* NAV BAR DIV */
.header-fluid {
    width: 100%;
    
}

/* DROP DOWN MENU ATTRIBUTES UNTIL REDEFINED */
.dropbtn {
    background-color: white;
    color: grey;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    display: inline-block;
    position: absolute;
    left: 0px;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: beige;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: beige;}



h2 {
  text-align: center;
}

p {
  text-align: center;
}













